@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: #002157;
    border-color: #002157;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #02173ac2;
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
    border-color: #ffffff;
}

.navbar-right {
    margin-right: 0;
}

.navbar-brand {
    height: 100px;
    padding: 30px 15px;
}

.navbar-brand > img {
    height: 100%;
}

.navbar-toggle {
    border-color: transparent !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-nav > li > a {
    padding: 10px 7px;
}

.navbar-nav > li:last-child > a {
    padding-right: 0;
}

.navbar-nav > li:after {
    content: ' |';
    position: absolute;
    color: #FFFFFF;
    right: -1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar-nav > li:last-child:after {
    content: '';
}

.panel-body {
    background-color: #f5f5f5;
}

.page-title {
    margin-top: 0;
    color: #002157;
}

ul.list-line {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-line li { 
    padding-left: 0;
}

.list-line li:before {
    content: "-";
    padding-right: 8px;
}

ul.list-circle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-circle li { 
    padding-left: 16px; 
    position: relative;
}

.list-circle li:before {
    content: "•";
    color: #DDDDDD;
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: -5px;
}

.list-circle li {
    margin-bottom: 10px;
}

.list-circle li:last-child {
    margin-bottom: 0;
}

.panel-body h3 {
    margin-top: 0;
}

.prices-box .list-circle {
    display: inline-block;
}

.prices-box .list-circle .description {
    width: 60%;
    display: inline-block;
}

.prices-box .list-circle .price {
    width: 40%;
    float: right;
    text-align: right;
}

.prices-box {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: solid 1px #DDDDDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 15px;
}

.search-form-content .well-lg {
    padding: 15px;
    background-color: #eceaea;
    border-top-width: 0px;

    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;

    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.search-form {
    position: relative;
    padding: 15px;
    margin-bottom: 0;
    font-weight: bold;
}
.search-form.opened {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form button {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-form-content.in.collapse .well,
.search-form-content.collapsing .well {
    margin-bottom: 0;
}

.table > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}

.main-table {
    margin: 20px 0;
}

.main-table table {
    margin-bottom: 0;
}

.main-table input[type=checkbox] {
   margin: 0;
   vertical-align: middle;
}

.pagination {
    margin-top: 0;
}

@media (max-width: 991px) {
    .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .panel-body .list-line {
        margin-bottom: 15px;
    }

    .prices-box .list-circle .description {
        width: 100%;
    }

    .prices-box .list-circle .price {
        display: none;
    }
}

.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
    margin-right: -15px;
}

@media (max-width: 767px) {
    .navbar-nav > li:after {
        content: '';
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


